@model IEnumerable<web.Areas.admin.Models.Comments>

@{
    Layout = null;
}

<div class="comments">
    <h3>Son Yorumlar</h3>
    @foreach (var item in Model)
    {
        <div class="comments-text">
            <div class="col-md-3 comments-left">
                <img src="~/images/t2.jpg" alt="" />
            </div>
            <div class="col-md-9 comments-right">
                <h5>@item.Comment</h5>
                <a href="#">@item.CommentByUserName</a>
                <p>@item.CreateDate.ToString("dd.MM.yyyy HH:mm")</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    }
</div>

    
