<div class="footer">
    <div class="container">
        <h3><a href="index.html">Finance In</a></h3>
        @*<p>© 2017 Finance In. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>*@
        <div class="social-icons">
            <ul>
                <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
                <li><a href="#" class="fa fa-dribbble icon icon-border dribbble"> </a></li>
                <li><a href="#" class="fa fa-rss icon icon-border rss"> </a></li>
            </ul>
        </div>
    </div>
</div>

